<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ethan Anderson</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <script src="https://xemantic.github.io/shader-web-background/dist/shader-web-background.min.js"></script>
  <script type="x-shader/x-fragment" id="image">
    precision mediump float;
    uniform float u_time;
    uniform vec2 u_resolution;
    uniform vec2 u_mouse;
    
    void main() {
        vec2 uv = gl_FragCoord.xy / u_resolution;
        uv.x *= u_resolution.x / u_resolution.y;
    
        float d = length(fract(uv * 10.0) - 0.5);
        float dot = smoothstep(0.05, 0.03, d);
    
        vec2 mouse = u_mouse / u_resolution;
        mouse.x *= u_resolution.x / u_resolution.y;
    
        float dist = distance(uv, mouse);
    
        float mouseFade = smoothstep(-0.200, 1.000, dist);
    
        vec3 tint = vec3(
          0.5 + 0.5 * sin(u_time + uv.x),
          0.4 + 0.4 * sin(u_time + uv.y),
          0.3 + 0.3 * sin(u_time + uv.x * 2.0 + 2.0)
        );
    
        vec3 color = mix(vec3(0.05), tint, dot * mouseFade);
        gl_FragColor = vec4(color, 1.0);
    }
  </script>
  <script>
    let mouse = [0, 0];
    window.addEventListener("mousemove", e => {
      mouse = [e.clientX, window.innerHeight - e.clientY];
    });
    
    shaderWebBackground.shade({
      shaders: {
        image: {
          uniforms: {
            u_time: (gl, loc) => gl.uniform1f(loc, performance.now() / 1000),
            u_resolution: (gl, loc) =>
              gl.uniform2f(loc, window.innerWidth, window.innerHeight),
            u_mouse: (gl, loc) => gl.uniform2f(loc, mouse[0], mouse[1])
          }
        }
      }
    });
  </script>
  <style>
    .shader-web-background-fallback {
      background: url("https://placekitten.com/666/666");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>
 <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <!--
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}
          

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}
          -->

          <p style="color: #fff;">This page was generated by <a href="https://pages.github.com">GitHub Pages</a></p>
          <p style="color: #fff;">Powered by <a href="https://github.com/xemantic/shader-web-background">shader-web-background</a></p>
          <p style="color: #fff;">and <a href="https://github.com/pages-themes/architect/tree/master">jekyll-theme-architect</a></p>
        </aside>
      </div>
    </div>

  </body>
</html>
